body{
    background:url('background.jpeg');
    background-size: cover;
    font-family:
    Arial, Helvetica, sans-serif

}
.form{
    margin: auto;
    width:350px;
    background:rgba(0,0,0,0.3);
    padding:40px;
    margin-top: 20px;

    display:block;
}
h2{
    text-align: center
    ;color:lightblue;
    font-style:italic;
    font-weight:bold;
}
input{width:100%;
    box-sizing: border-box;
padding:12px 5px;
background: black;
background:transparent;
outline:none
;border:none;
MARGIN:5PX;

border-bottom: 1px solid lightblue;
color:lightblue;
border-radius:5px;
font-weight:bold
}
.text{height:80px;
    background-color:black;
    background:transparent;
    font-weight: bold;
    BORDER:NONE;
    width:300px;
    color:lightblue

}
.btn{background:lightseagreen;
    text-align: center;
    padding:15px;
    border-radius:5px;
    width:150px;
    margin-left: 100px

}


